{% extends 'auth/base.html' %}
{% block title %}IT Help Desk | Sign In{% endblock %}
{% block content %}
    <h2>Sign in</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="email">{{ form.email.label }}</label>
            {{ form.email(class="form-control", placeholder="Email") }}
            {% if form.email.errors %}
                <ul class="errors">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(class="form-control", placeholder="Password") }}
            {% if form.password.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-options">
            <a href="{{ url_for('auth.register') }}" class="alternative_auth">Don't have an account? Register</a>
            {{ form.submit(class="btn sign-in-button", value="Sign in") }}
        </div>
    </form>
{% endblock %}
