@import url('base.css');

.submit-button {
    background-color: #99CC00;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #80A300;
}

.assigned-summary {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-bottom: -20px;
}

.assigned-summary-box {
    background-color: #99CC00;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: 15px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assigned-summary-box h2 {
    margin-top: 0;
    color: #555;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.assigned-summary-box .count {
    font-size: 2em;
    color: #007F00;
    font-weight: bold;
}

.assigned-tickets-box,
.unassigned-tickets-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
