@import url('base.css');

.assigned-summary {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-bottom: -20px;
}

.assigned-summary-box {
    background-color: #99CC00;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: 15px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assigned-summary-box h2 {
    margin-top: 0;
    color: #555;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.assigned-summary-box .count {
    font-size: 2em;
    color: #007F00;
    font-weight: bold;
}

.assigned-tickets-box,
.unassigned-tickets-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ticket-history-container {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ticket-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.user-list-container {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.user-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.delete-button {
    background-color: #CC3300;
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.logout-button:hover {
    background-color: #A32600;
}

.user-list-header .filter-options .search-container {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.user-list-header .filter-options .search-container input[type="text"]#search-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.user-list-header .filter-options .search-container input[type="text"]#search-input:focus {
    outline: none;
    border-color: var(--primary-color);
}
