@import url('base.css');

body {
    background: linear-gradient(to right, var(--primary-color-dark) 50%, var(--background-color) 50%);
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: auto;
    min-height: 50vh;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    justify-content: center;
}

.left-panel {
    background-color: var(--primary-color-dark);
    color: var(--background-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-center;
    width: 50%;
    min-height: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 200px;
    margin-bottom: 20px;
}

.right-panel {
    background-color: var(--background-color);
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-box {
    width: 80%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: var(--primary-color);
}

.form-options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alternative_auth {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
}

.alternative_auth:hover {
    text-decoration: underline;
}
