:root {
    --primary-color: #99CC00;
    --primary-color-dark: #007F00;
    --text-color: #555;
    --background-color: #ffffff;
    --font-family: 'Inter', sans-serif;
    --border-radius: 5px;
    --box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}

body {
    margin: 0;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, var(--primary-color-dark) 50%, var(--background-color) 50%);
}

.container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: auto;
    min-height: 50vh;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    justify-content: center;
}

.left-panel {
    background-color: var(--primary-color-dark);
    color: var(--background-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-center;
    width: 50%;
    min-height: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 200px;
    width: auto;
}

.right-panel {
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content-box {
    width: 100%;
}

.content-box h2 {
    margin-bottom: 20px;
    color: var(--primary-color-dark);
    font-size: 28px;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 14px;
}

.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
    background-color: var(--background-color);
}

select#role.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: 14px;
    background-color: var(--background-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select#role.form-control:focus,
.form-control:focus {
    outline: none;
    border-color: var(--primary-color);
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.alternative_auth {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
}

.alternative_auth:hover {
    text-decoration: underline;
}

.sign-in-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.sign-in-button:hover {
    background-color: var(--primary-color-dark);
}

.custom-alert {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.alert-content {
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: var(--border-radius);
    position: relative;
}

#alertMessage {
    margin-bottom: 20px;
    color: #333;
}

#alertOkayButton {
    display: block;
    margin: 10px auto 0;
}

.error-messages {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.error-messages li {
    margin-bottom: 5px;
}
