@import url('base.css');

.ticket-details p {
    margin-bottom: 10px;
    color: #555;
}

.ticket-details .button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.ticket-history-container {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ticket-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.dashboard-summary {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.summary-box {
    background-color: #ffc83d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: 15px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-box h2 {
    margin-top: 0;
    color: #555;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.summary-box .count {
    font-size: 2em;
    color: #007F00;
    font-weight: bold;
}

#alertOkayButton {
    display: block;
    margin: 10px auto 0;
    background-color: #99CC00;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

#alertOkayButton:hover {
    background-color: #007F00;
}

.popup-overlay {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: var(--border-radius);
    position: relative;
    align-items: center;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107;
}

.hidden {
    display: none;
}
