{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
{% endblock %}
{% block sidebar %}
    <div class="sidebar-container">
        <div class="sidebar">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="IT Help Desk Logo" class="logo">
            </div>
            <div class="user-info">
                <h1>Welcome {{ user.firstname }}!</h1>
            </div>
            <nav class="navigation">
                <ul>
                    <li {% if request.endpoint == 'admin.dashboard' %}class="active"{% endif %}><a href="{{ url_for('admin.dashboard')}}">Dashboard</a></li>
                    <li {% if request.endpoint == 'admin.manage_tickets' %}class="active"{% endif %}><a href="{{ url_for('admin.manage_tickets')}}">Manage Tickets</a></li>
                    <li {% if request.endpoint == 'admin.manage_users' %}class="active"{% endif %}><a href="{{ url_for('admin.manage_users')}}">Manage Users</a></li>
                </ul>
            </nav>
            <div class="logout-container">
                <button class="logout-button">Sign Out</button>
            </div>
        </div>
    </div>

    <div id="customAlert" class="custom-alert" style="display: none;" data-logout-url="{{ url_for('auth.logout') }}">
        <div class="alert-content">
            <p id="alertMessage">Are you sure you want to sign out?</p>
            <div class="alert-buttons">
                <button id="alertYesButton">Yes</button>
                <button id="alertNoButton">No</button>
            </div>
        </div>
    </div>
{% endblock %}



{% block scripts %}
    <script src="{{ url_for('static', filename='base.js') }}"></script>
{% endblock %}
